<div class="container-fluid mt-5">
  <div class="row mt-5">
    <h1 class="text-center">Tasks of the day</h1>
    <div class="col d-flex flex-wrap">
      <div class="card m-3" style="width: 18rem" *ngFor="let task of uncompletedTasks "
      [ngClass]="{
        'border-success': task.completed,
        'border-danger': !task.completed
      }">
        <div class="card-body d-flex align-items-center border border-2 ">
          <div class="ms-3">
              <button
                class="btn btn-outline-danger btn-sm border-2 mt-2 ms-3"
                (click)="deleteTask(task)"
              >
                ❌
              </button>
            <h3
              class="card-text fs-4 mt-3"
              style="height: 130px; border-bottom: 2px solid black"
            >
              {{ task.todo }}
            </h3>

            <div *ngFor="let user of users">
              <div
                class="card-title row align-items-center justify-content-start align-items-center"
                *ngIf="user.id === task.userId"
              >
                <p>Task for:</p>
                <p class="fw-bold fs-7 col-auto">
                  {{ user.firstName }} {{ user.lastName }}
                </p>
                <img
                  src="{{ user.image }}"
                  alt=""
                  class="card-img rounded-circle col-auto"
                  style="width: 60px"
                />
              </div>
            </div>

            <div class="mt-4">
              <button class="btn btn-outline-primary border- mt-2">
                Vai all'attività
              </button>
              <button
              class="btn btn-outline-success border-2 mt-2 ms-3"
              *ngIf="task.completed"
              (click)="moveTask(task)"
            >
              Sposta
            </button>
             
            </div>
            <div>
              <p class="card-text mt-3">
                Completed:
                <input type="checkbox" [(ngModel)]="task.completed" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

