<div class="container-fluid mt-5">
  <h1 class="text-center">Tasks of the day</h1>
  <div class="row mt-3 justify-content-center">
    <div class="flex-wrap">
      <div
        class="card p-3 m-3 flex-fill" 
        *ngFor="let task of tasks"
      
        [ngClass]="{
          'border-success': task.completed,
          'border-danger': !task.completed
        }"
      >
        <div class="row">
          <div class="col-5 align-items-center justify-content-start">
            <div>
              <h3 class="card-text fs-4" style="height: auto">
                {{ task.todo }}
              </h3>
            </div>

            <div *ngFor="let user of users">
              <div class="card-title" *ngIf="user.id === task.userId">
                <p class="mt-4">Task for:</p>
                <p class="fw-bold fs-7">
                  {{ user.firstName }} {{ user.lastName }}
                </p>
              </div>
            </div>
          </div>

          <div class="col-5 d-flex align-items-center justify-content-around">
            <div>
              <button class="btn btn-outline-primary border-2 btn-lg ms-3">
                Vai all'attività
              </button>
              <button
                class="btn btn-outline-danger border-2 btn-lg ms-3"
                (click)="deleteTask(task)"
              >
                Elimina
              </button>
            </div>
          </div>

          <div class="col-2 align-items-center">
            <p class="card-text">
              Completed:
              <input type="checkbox" [(ngModel)]="task.completed" />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>